/* --------HEADER---------- */
.container-img-banner {
    position: relative;
    min-width: 100%;
    background-color: rgb(240, 240, 240);
    #img-logo {
        display:block;
        margin: auto;
        max-height: 300px;
    }
    ul{
        position: absolute;
        top: 0;
        right: 0;
    }
}


// BTN!!
.boton-nav {
    position: relative;
    width: 130px;
    height: 40px;
    line-height: 42px;
    border: none;
    background: $color-background-nav;

    a{
        text-decoration: none;
        color: $color-text;
    }

    &:hover {
        background: transparent;
        box-shadow: none;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 2px;
        width: 0;
        background: $color-text-nav;
        transition: 200ms ease all;
    }

    &:after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
    }

    &:hover:before,
    &:hover:after {
        width: 100%;
        transition: 400ms ease all;
    }
}

.bg-propio {
    background-color: $color-background-nav;
}

.carousel-item{
    overflow: hidden;
    max-height: 400px;
    img{
        width: 70%;
    }
}