/* -----MEDIA QUERY----- */

@media screen and (max-width: 1100px) {

    body {
        width: 80%;
        margin: 30px auto;

        .container-index {
            section {
                p {
                    font-size: 20px;
                }

                h1 {
                    font-size: 30px;
                }
            }

        }

        // Querys TALLERES-----
        .container-taller{
            .video-taller {
                iframe {
                    width: 90%;
                    height: 200px;
                    margin-left: 5%;
                }
            }

            .images-taller{
                min-width: 100%;
                .foto-taller{
                    min-width: 45%;
                    margin-bottom: 15px;
                }
            }
        }

    }

}

@media screen and (max-width: 768px) {

    body {
        width: 80%;

        .container-index {
            h1 {
                font-size: 25px;
            }

            section p {
                font-size: 15px;
            }
        }

        // Querys TALLERES-----
        .container-taller{
            .video-taller {
                iframe {
                    width: 90%;
                    height: 200px;
                    margin-left: 5%;
                }
            }

            .images-taller{
                min-width: 100%;
                .foto-taller{
                    min-width: 70%;
                    margin-bottom: 15px;
                }
            }
        }
    }

}

@media screen and (max-width: 500px) {

    body {
        width: 100%;
        margin-top: 0;

        #img-logo {
            min-height: 200px;
        }
        // Querys INDEX-----
        .container-index {
            .gallery {
                margin-left: 45px !important;
            }
        }

        // Querys TALLERES-----
        .container-taller{
            .video-taller {
                iframe {
                    width: 90%;
                    height: 200px;
                    margin-left: 5%;
                }
            }

            .images-taller{
                min-width: 100%;
                .foto-taller{
                    min-width: 70%;
                    margin-bottom: 15px;
                }
            }
        }
    }

}