.banner-inter{
    justify-content: center;
    border-bottom: solid 2px $color-background-img-nav;
    img{
        max-height: 400px;
    }
}

.container-inter{
    background-color: $color-background-container;
    .container-gallery-interneviones{
        padding-top: 80px;
        max-width: 80%;
        margin: auto;
    }
    .libro{
        margin-left:20px;
    }
}
