.banner-inter {
    justify-content: center;

    img {
        max-height: 400px;
    }
}

.container-inter {
    background-color: $color-background-container;

    .difuminado {
        width: 100%;
        height: 10px;
        background: rgb(229, 229, 229);
        background: linear-gradient(0deg, rgba(229, 229, 229, 1) 50%, rgba(17, 17, 17, 1) 95%);
    }

    .container-gallery-interneviones {
        max-width: 80%;
        margin: 50px auto;
    }

    .video-inter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        background-color: #333;
        iframe {
            width: 60%;
            height: 400px;
            padding: 5px;
            border: solid 1px #eee;
        }
    }

    .division {
        width: 80%;
        height: 1px;
        margin: 100px auto;
        background-color: #111;
    }

    .libro {
        margin-left: 20px;
    }
}