.container-espectaculos {
    background-color: $color-background-container;

    h1 {
        padding-top: 15px;
        color: white;
        text-align: center;
    }
    p{
        color: aliceblue;
        text-align: center;
        font-size: 1.1rem;
    }

    .videos {
        display: flex;
        justify-content: space-around;
        margin-top: 45px;
        padding-bottom: 20px;
        .lambe {
            border: solid 2px $color-background-nav;
            max-width: 45%;
            
            a {
                text-decoration: none;
            }

            p {
                color: white;
                text-align: left;
                font-size: 1.2rem;
                margin: auto;
                max-width: 70%;
            }

            .btn {
                bottom: 0;
                margin: 10px;
            }
        }

        .marioneta {
            @extend .lambe;

            a {
                text-decoration: none;
            }

            p {
                color: white;
                text-align: left;
                font-size: 1.2rem;
                margin: auto;
                max-width: 70%;
            }

            .btn {
                @extend .btn;

            }
        }

        h3 {
            color: white;
            text-align: center;
        }

        .video-espectaculos {
            width: 100%;
            height: 500px;
        }
    }

}